{% extends "base.html" %}

{% block title %}Downloaded Data{% endblock %}

{% block content_title %}Downloaded Data{% endblock %}

{% block content %}




    {# Include the content from 'menu.html' in the first 'content' block #}
    {% include "menu.html" %}
    {# Your page-specific content goes here #}



    <form method="POST" action="/crossover">
        <br><p></p>
        <label for="short_period">Short Period (ex.: 21):</label>
        <input type="number" name="short_period" required>
        <br><p></p>
        <label for="long_period">Long Period (ex.: 50):</label>
        <input type="number" name="long_period" required>
        <br><p></p>
        <input type="submit" value="Verify Results">
    </form>


{% endblock %}
