{% extends "base.html" %}

{% block title %}Downloaded Data{% endblock %}

{% block content_title %}Downloaded Data{% endblock %}

{% block content %}




    {# Include the content from 'menu.html' in the first 'content' block #}
    {% include "menu.html" %}
    {# Your page-specific content goes here #}


    {% if describe is not defined or describe.empty %}
    <p></p>
    {% else %}
    <p></p>
    <h2>Describe</h2>
    <h2>{{ symbol|safe }}</h2>
    {{ describe.to_html(classes="table table-bordered table-striped", table_id="describe-data")|safe }}
    {% endif %}



{% endblock %}