{% extends "base.html" %}

{% block title %}Downloaded Data{% endblock %}

{% block content_title %}Downloaded Data{% endblock %}

{% block content %}




    {# Include the content from 'menu.html' in the first 'content' block #}
    {% include "menu.html" %}
    {# Your page-specific content goes here #}



    <!-- Display drawdown data -->
    {% if drawdown is not defined or drawdown.empty %}
    <p>Erro</p>
    {% else %}
    <p></p>
    <h2>Drawdown Data</h2>
    {{ drawdown.to_html(classes="table table-bordered table-striped", table_id="describe-data")|safe }}
    {% endif %}



{% endblock %}
