{% extends "base.html" %}

{% block title %}Downloaded Data{% endblock %}

{% block content_title %}Downloaded Data{% endblock %}

{% block content %}




    {# Include the content from 'menu.html' in the first 'content' block #}
    {% include "menu.html" %}
    {# Your page-specific content goes here #}





    <!-- Display drawdown plot -->
    {% if drawdown_plot is not defined or drawdown_plot.empty %}
    <p></p>
    {% else %}
    <p></p>
    <h2>Drawdown Plot</h2>
    <img src="data:image/png;base64,{{ drawdown_plot }}" alt="Drawdown Plot">
    {% endif %}




{% endblock %}

